#szuro{
    text-align: center;
}
.btn-secondary{
    width: 100%;
    margin-bottom: 20px;
}
#szurok{
    text-align: left;
}
.dropdown-menu{
    width: 100%;
}
.dropdown-item{
    text-align: center !important;
}