#szuro{
    text-align: center;
}
.btn-secondary{
    width: 100%;
    margin-bottom: 20px;
}
#szurok{
    text-align: left;
}
.dropdown-menu{
    width: 100%;
}
.dropdown-item{
    text-align: center !important;
}
main{
    background: #ebd3a9;
    background: linear-gradient(180deg, rgba(235, 211, 169, 1) 0%, rgba(79, 32, 13, 1) 100%);
}
.card{
    margin-bottom: 50px;
}