body{min-height: 100vh;
background: linear-gradient(to bottom, #f7efe5, #c4a899, #5b2c16);
display: flex;
flex-direction: column;
}
.navbar-custom {
    background: rgba(255,255,255,0.6);
    padding: 12px 30px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: #4b7bd0;
}


.content-card {
    background: #eee7df;
    border: 2px solid #2b2b2b;
    border-radius: 25px;
    padding: 30px;
    max-width: 360px;
    min-height: 600px;
}

.content-card p {
    font-size: 14px;
    color: #222;
}